- var short_title = 'Home', order = 0;
doctype html
html(lang='en')
  meta(charset='utf-8')
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
  .container
    .row
      .col-xs-12
        h1=nav.title
      .col-xs-12
        nav
          ul.nav.nav-tabs
            | Up:
            a(href=nav.parent.href)= nav.parent.title
      .col-xs-12
        nav
          ul.nav.nav-tabs
            for sibling in nav.siblings
              li
                a(href=sibling.href, class=(nav.active ? 'active' : ''))= sibling.title
      .col-xs-12
        nav
          ul.nav.nav-tabs
            for child in nav.children
              li
                a(href=child.href)= child.title
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
