- var short_title = 'Home', order = 0;
doctype html
html(lang='en')
  meta(charset='utf-8')
  link(href='/css/bootstrap.css', rel='stylesheet')
  .container
    .row
      .col-xs-12
        h1=short_title
      .col-xs-12
        nav(role='navigation')
          ul.nav.nav-tabs
            | parent:
            - console.log(nav.href, nav.parent.href, nav.root);
            for sibling in nav.siblings
              - console.log('    ', sibling.title, sibling.href, sibling.active)
            //if nav.parent
            //  - console.log('parent', nav.parent);
            // if nav?.siblings
            //   - console.log('nav', nav.title, nav.parent && nav.parent.title, nav.siblings);
            //   each tab in nav.siblings
            //     li
                  // (class=tab.active ? 'active' : '')
            //       a(href=tab.href ? tab.href : ''):= tab.title
  script(src='/js/bootstrap.js')
