- var short_title = 'Home', order = 0
doctype html
html(lang='en')
  meta(charset='utf-8')
  link(href='/css/bootstrap.css', rel='stylesheet')
  .container
    .row
      .col-xs-12
        h1=short_title
      .col-xs-12
        nav(role='navigation')
          ul.nav.nav-tabs
            each tab in nav
              li(class=tab.active ? 'active' : '')
                a(href=tab.href ? tab.href : ''):= tab.short_title
  script(src='/js/bootstrap.js')
