- var short_title = 'Home', order = 0;
doctype html
html(lang='en')
  meta(charset='utf-8')
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
  .container
    .row
      .col-xs-12
        h1=nav.title
    .row
      .col-xs-12
        if nav.parent.href
          p Up:
            a(href=nav.parent.href)= nav.parent.title
    .row
      .col-xs-12
        nav
          ul.nav.nav-tabs
            for sibling in nav.siblings
              li(class=(sibling.active ? 'active' : ''))
                a(href=sibling.href)= sibling.title
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
