sudo: false
language: node_js
node_js:
  - "5"
  - "4"
  - "0.12"
  - "iojs"
after_success:
  - ./node_modules/.bin/remap-istanbul --input coverage/coverage.json --type lcovonly | ./node_modules/.bin/coveralls
